*.pyc
*.pyo
*.class
*~
*.DS_Store
*.kate-swp
build/
dist/
MANIFEST
README.txt
ytdm.bash-completion
ytdm.fish
ytdm/extractor/lazy_extractors.py
ytd
ytd.tar.gz
.coverage
cover/
*.egg-info
*.srt
*.ttml
*.sbv
*.vtt
*.flv
*.mp4
*.m4a
*.m4v
*.mp3
*.3gp
*.wav
*.ape
*.mkv
*.swf
*.part
*.ytdl
*.swp
test/local_parameters.json
.tox
ytdm.zsh

# IntelliJ related files
.idea
*.iml

tmp/
venv/

# VS Code related files
.vscode
